.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.lime{
    background-color: lime;
}
.purple{
    background-color:purple;
}
.green{
    background-color: greenyellow;
}
.bold{
    font-weight: bold;
}