nav a{
    margin-right: 25px;
    font-size: 20px;
    color: white;
    text-decoration: none;
   
}
nav a:hover{
    background-color: darkmagenta;
    padding: 5px 10px;
    transition: 4s;
    border-radius: 10px;
}
 
nav{
    text-align: center;
    background-color: orangered;
    padding: 10px;
    
    
}